<!-- 
  you'll need to use inline styling 
  if you want to add css to the page.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    <link rel="stylesheet" href="./static/style.css">
  </head>
  <body>
      <div class="header">
        <center><span>My Website</span></center>
      </div>
      <br>
      <p style="margin-left: 25%;margin-right: 25%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, consequuntur voluptas animi ea est necessitatibus, ullam ratione excepturi, at ipsa dolorem facere autem expedita nesciunt vel quasi officia harum sint.</p>
  </body>
</html>